@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto";

	color: #333;
	min-height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
